@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  width: 250px;
}

.bg-custom-teal-900 {
  background-color: rgb(3, 32, 36);
}

.bg-custom-teal-700 {
  background-color: rgb(6, 64, 72);
}

.bg-custom-teal-500 {
  background-color: rgb(7, 80, 90);
}

.bg-custom-teal-300 {
  background-color: rgb(14, 167, 187);
}

.border-custom-teal-500 {
  border-color: #007070;
}

.bg-custom-teal-500:hover {
  background-color: #008a8a;
}

.border-custom-teal-500:hover {
  border-color: #00a3a3;
}

.bg-scarlet-red {
  background-color: #830e25;
}

.bg-scarlet-red-hover {
  background-color: #9d1732;
}

.border-scarlet-red {
  border-color: #d96179;
}

.border-scarlet-red-hover {
  border-color: #85132a;
}

.bg-scarlet-red:hover {
  background-color: #943749;
}

.border-scarlet-red:hover {
  border-color: #e98295;
}
